$colorLv1   : #9e1e1f;
$colorLv2   : #ed1c24;
$colorLv2-01 : rgba(237,26,38,0.1);
$colorLv2-02 : rgba(237,26,38,0.2);
$colorLv2-03 : rgba(237,26,38,0.3);
$colorLv2-04 : rgba(237,26,38,0.4);
$colorLv2-05 : rgba(237,26,38,0.5);
$colorLv2-06 : rgba(237,26,38,0.6);
$colorLv2-07 : rgba(237,26,38,0.7);
$colorLv2-08 : rgba(237,26,38,0.8);
$colorLv2-09 : rgba(237,26,38,0.9);
$colorLv3   : #A1E3D8;
$colorLv4   : #F7FF93;
$colorSecondary       : #fcaf17;
$colorSecondary-01    : rgba(252,175,23,0.1);
$colorSecondary-02    : rgba(252,175,23,0.2);
$colorSecondary-03    : rgba(252,175,23,0.3);
$colorSecondary-04    : rgba(252,175,23,0.4);
$colorSecondary-05    : rgba(252,175,23,0.5);
$colorSecondary-06    : rgba(252,175,23,0.6);
$colorSecondary-07    : rgba(252,175,23,0.7);
$colorSecondary-08    : rgba(252,175,23,0.8);
$colorSecondary-09    : rgba(252,175,23,0.9);
$colorSecondaryHover  : #F0A000;

$bg-1: 			#212529;
$bg-09: 		#343a40;
$bg-08: 		#495057;
$bg-07: 		#6c757d;
$bg-06: 		#adb5bd;
$bg-05: 		#ced4da;
$bg-04: 		#dee2e6;
$bg-03: 		#e9ecef;
$bg-02: 		#EDF2F7;

$colorTitle : #345;
$colorText  : #456;
$colorDesc  : #567;
$colorTextHightlight  : #183153;
$colorYellow : #fac126;
$colorRed   : #ed1c24;
$colorSuccess : #06d6a0;
$fontText   : "SVN-Gilroy", tahoma, serif;
$fontTitle  : "SVN-Gilroy Bold", tahoma, serif;

@mixin titleH2 {
  
}

@mixin titleH3 {
  
}

@mixin fontAwesome {
  font-family: "Font Awesome 6 Free";
  font-weight: 900;
}

@mixin slickArrowCircle {
  .slick-track {
    display: flex;
    justify-content: flex-start;
    float: left;
  }
  .slick-slider {
    position: relative;
    button {
      width: 35px;
      aspect-ratio: 1/1;
      border: none;
      outline: none;
      background: $bg-08;
      border-radius: 50%;
      color: #fff;
      opacity: 0.3;
      &:hover {
        opacity: 0.5;
      }
    }
    .slick-arrow {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      z-index: 2;
      cursor: pointer;
      &.slick-prev {
          left: 0;
      }
      &.slick-next {
          right: 0;
      }
    }
  }
}

@mixin productGrid {
  display: flex;
  &_item {
    border-radius: 7px;
    .show {
      width: 100%;
      height: auto;
      opacity: 1;
      transition: opacity 0.5s;
    }
    .hide {
      width: 0;
      height: 0;
      opacity: 0;
    }
    &:not(:first-child){
        margin-left: 2rem;
    }
    &_image {
      margin-bottom: 1rem;
      position: relative;
      border-radius: inherit;
      display: flex;
      img {
        border-radius: inherit;
        width: 100%;
        display: flex;
      }
      &_rating {
        position: absolute;
        top: 0;
        left: 0;
        background: rgba(0,0,0,0.8);
        padding: 0.1rem 0.5rem;
        display: flex;
        color: #fff;
        font-size: 0.8rem;
        border-top-left-radius: inherit;
        border-bottom-right-radius: inherit;
        img {
          width: 12px;
          margin-right: 0.25rem;
        }
        > * {
          display: flex;
          &:not(:first-child){
            margin-left: 0.25rem;
            padding-left: 0.25rem;
            border-left: 1px solid $bg-07;
          }
        }
      }
      &_percent {
        position: absolute;
        top: 0;
        right: 0;
        background: $colorLv2;
        padding: 0.1rem 0.5rem;
        display: flex;
        color: #fff;
        font-size: 0.8rem;
        font-family: $fontTitle;
        border-top-right-radius: inherit;
        border-bottom-left-radius: inherit;
      }
    }
    &_imageList {
      display: flex;
      margin-bottom: 0.75rem;
      &_item {
          width: calc(20% - 0.4rem);
          aspect-ratio: 1/1;
          border-radius: 50%;
          cursor: pointer;
          &:not(:first-child){
              margin-left: 0.5rem;
          }
          img {
              width: 100%;
              height: 100%;
              display: flex;
              border-radius: inherit;
              object-fit: cover;

          }
          &.selected, &:hover {
              border: 1px solid $colorLv2;
          }
      }
    }
    &_content {
      &_title {
        margin-bottom: 0.25rem;
        h3, h4 {
          font-family: $fontTitle;
          font-size: 1.05rem;
          margin-bottom: 0 !important;
          color: $colorTitle;
          line-height: 1.5;
        }
      }
      &_price {
        margin-bottom: 0.5rem;
        color: $colorLv2;
        font-size: 1.2rem;
        font-weight: bold;
        letter-spacing: 1px;
        display: flex;
        align-items: flex-end;
        > span {
            font-size: 1rem;
            font-weight: normal;
            color: $colorText;
            text-decoration: line-through;
            margin-left: 1rem;
        }
      }
    }
  }
  @media(max-width: 766px){
    &_item {
      &:not(:first-child){
        margin-left: 1.25rem;
      }
      &_content {
        &_price {
          font-size: 1.05rem;
          letter-spacing: 0.5px;
          > span {
            font-size: 0.95rem;
            margin-left: 0.5rem;
          }
        }
      }
    }
  }
  // @media(max-width: 576px){
  //   &_item {
  //     &:not(:first-child){
  //       margin-left: 1rem;
  //     }
  //   }
  // }
}
@mixin highLight {
  font-size: 1.2rem;
  font-weight: 700;
  color: $colorLv1;
}

*, ::after, ::before {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
    font-size: 1rem;
    line-height: 1.68rem;
    font-weight: 500;
    font-family: $fontText;
    color: $colorText;
    @media(max-width: 1199px){
      font-size: 0.975rem;
    }
    @media(max-width: 990px){
      font-size: 0.95rem;
    }
}

.blurBackground {
  filter: blur(8px);
  -webkit-filter: blur(8px);
}

a {
    text-decoration: none;
    color: $colorLv2;
    &:hover {
        color: $colorLv1;
    }
}

ul {
    margin-bottom: 0.75rem;
    // li {
    //     &:not(:first-child){
    //       margin-top: 0.75rem;
    //     }
    // }
    // &.withIconCheck {
    //     li {
    //     margin-top: 0;
    //     list-style-type: none;
    //     &:before {
    //         @include fontAwesome;
    //         content: '\f00c';
    //         color: $colorLv2;
    //         margin-right: 0.5rem;
    //     }
    //     }
    // }
}

h1 {
  font-family: $fontTitle;
  font-size: 1.5rem;
  color: $colorTitle;
  margin-bottom: 1rem;
  line-height: 1.4;
  @media(max-width: 1199px){
    font-size: 1.45rem;
  }
  @media(max-width: 990px){
    font-size: 1.4rem;
  }
  @media(max-width: 766px){
    font-size: 1.35rem;
  }
  @media(max-width: 576px){
    font-size: 1.3rem;
  }
}

h2 {
  font-family: $fontTitle;
  margin-bottom: 0.75rem;
  font-size: 1.3rem;
//   line-height: 2.2rem;
//   @media(max-width: 990px){
//     font-size: 1.5rem;
//     line-height: 2.1rem;
//     margin-bottom: 0.75rem !important;
//   }
//   @media(max-width: 577px){
//     font-size: 1.4rem;
//     line-height: 2rem;
//     margin-bottom: 0.5rem !important;
//   }
}

h3, h4 {
  font-family: $fontTitle;
  margin-bottom: 0.5rem;
}

h3 {
  font-size: 1.25rem;
}

h4 {
  font-size: 1.2rem;
}

.flexBox {
  display: flex;
  align-items: flex-start;
  &_item {
    width: 100%;
  }
}

.sectionBox {
  &:not(:last-child){
    margin-bottom: 3.5rem;
  }
  &:not(:first-child){
    margin-top: 3.5rem;
  }
  @media(max-width: 1199px){
    &:not(:last-child){
      margin-bottom: 3.25rem;
    }
    &:not(:first-child){
      margin-top: 3.25rem;
    }
  }
  @media(max-width: 990px){
    &:not(:last-child){
      margin-bottom: 3rem;
    }
    &:not(:first-child){
      margin-top: 3rem;
    }
  }
  @media(max-width: 766px){
    &:not(:last-child){
      margin-bottom: 2.75rem;
    }
    &:not(:first-child){
      margin-top: 2.75rem;
    }
  }
  @media(max-width: 576px){
    &:not(:last-child){
      margin-bottom: 2.5rem;
    }
    &:not(:first-child){
      margin-top: 2.5rem;
    }
  }
}
.homeBox {
  margin-top: 2.5rem;
  margin-bottom: 3.5rem;
  h2, h3, h4, h5, h6 {
    color: $colorLv2;
  }
  @media(max-width: 1199px){
    margin-top: 2.25rem;
    margin-bottom: 3.25rem;
  }
  @media(max-width: 990px){
    margin-top: 2rem;
    margin-bottom: 3rem;
  }
  @media(max-width: 766px){
    margin-top: 1.75rem;
    margin-bottom: 2.75rem;
  }
  @media(max-width: 576px){
    margin-top: 1.5rem;
    margin-bottom: 2.5rem;
  }
}
.contentBox {
  margin-top: 0.5rem;
  padding-bottom: 3.5rem;
  @media(max-width: 1199px){
    padding-bottom: 3.25rem;
  }
  @media(max-width: 990px){
    padding-bottom: 3rem;
  }
  @media(max-width: 766px){
    padding-bottom: 2.75rem;
  }
  @media(max-width: 576px){
    padding-bottom: 2.5rem;
  }
}
p {
  margin-bottom: 0.75rem;
  @media(max-width: 577px){
    margin-bottom: 0.5rem;
  }
}

img {
  width: 100%;
  display: flex;
}

table {
    width: 100%;
    border-collapse: collapse;
    &:not(.noResponsive){
        min-width: 600px;
    }
}

blockquote{
	display:block;
    background: $bg-02;
    padding: 0.75rem 0.75rem 0.75rem 2.5rem;
    margin-bottom: 0.75rem;
    margin-top: 0.75rem;
    position: relative;
    font-size: inherit;
    text-align: justify;
    border-left: 5px solid $colorLv2;
    border-radius: 10px;
	&::before{
		content: "\201C";
        font-size: 3rem;
        font-weight: bold;
        color: $bg-06;
        position: absolute;
        left: 0.5rem;
        top: 1.5rem;
	}
	&::after{
		content: "";
	}
	em {
		font-style: italic;
	}
  @media(max-width: 577px){
    margin-bottom: 0.5rem;
    margin-top: 0.5rem;
  }
}

.imageBox {
  max-width: 660px;
  background: $bg-02;
  font-size: 0.95rem;
  border-radius: 7px;
  margin: 1rem auto 1.25rem auto;
  border: 1px solid $bg-05;
  img {
      width: 100%;
      object-fit: cover;
      border-radius: 7px 7px 0 0;
      margin: 0;
  }
  &_note {
      padding: 0.5rem 1rem;
      text-align: center;
  }
  @media (max-width: 1023px){
      margin: 0.75rem auto 1rem auto;
  }
  @media (max-width: 577px){
      margin: 0.5rem auto 0.75rem auto;
  }
}

.customScrollBar-y {
    width: 100%;
    overflow-y: scroll !important;
    &::-webkit-scrollbar {
      background-color: transparent;
      width: 5px;
    }
    &::-webkit-scrollbar-thumb {
      background-color: $bg-06;
      border-radius: 1000px;
      -webkit-box-shadow: inset 0 0 6px $bg-04;
    }
    &::-webkit-scrollbar-track {
      -webkit-box-shadow: inset 0 0 6px $bg-04;
      border-radius: 10px;
      background: transparent;
    }
  }
  .customScrollBar-x {
    width: 100%;
    overflow-x: scroll !important;
    &::-webkit-scrollbar {
      background-color: transparent;
      height: 5px;
    }
    &::-webkit-scrollbar-thumb {
      background-color: $bg-06;
      border-radius: 1000px;
      -webkit-box-shadow: inset 0 0 6px #fff;
    }
    &::-webkit-scrollbar-track {
      -webkit-box-shadow: inset 0 0 6px #fff;
      border-radius: 10px;
      background: transparent;
    }
  }

.fa-regular, .far {
    font-weight: 900 !important;
}

.container {
    width: 100%;
    max-width: 1300px;
    margin: 0 auto;
    padding: 0 1.5rem;
    @media (max-width: 767px) {
        padding: 0 1rem;
        &.withBackground {
          padding: 0;
        } 
    }
    @media (max-width: 567px) {
        padding: 0 0.75rem;
        &.withBackground {
          padding: 0;
        } 
    }
}

.background_2 {
  background: $bg-02;
}

.button {
  padding: 0.5rem 2rem;
  background: $colorSecondaryHover;
  display: inline-block;
  font-family: $fontTitle;
  font-weight: 500;
  color: #fff;
  border-radius: 100px;
  cursor: pointer;
  font-size: 1rem;
  border: none;
  text-align: center;
  border-radius: 100px;
  letter-spacing: 0.5px;
  &:focus, &:hover {
    color: #fff;
    outline: none;
    background: $colorSecondary;
  }
  i {
    margin-left: -0.25rem;
    margin-right: 0.75rem;
  }
  &.cancel {
    background: $bg-04;
    color: $colorText;
    &:hover {
      outline: none;
      background: $bg-05;
    }
  }
  &.secondary {
    background: $colorSecondary;
    color: $colorText;
  }
}

input, textarea, select {
  padding: 0.7rem 1rem;
  width: 100%;
  font-size: 1rem;
  font-family: $fontTitle;
  border-radius: 7px;
  border: 1px solid $bg-05;
  &:focus {
    border: 1px solid $bg-06;
    outline: none;
  }
}

.inputWithIcon {
  position: relative;
  &:after {
    @include fontAwesome;
    content: "\f06e";
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 0.75rem;
    color: $bg-05;
    margin-left: 0.25rem;
    cursor: pointer;
  }
}

label {
  font-weight: 600;
  font-size: 0.925rem;
  display: flex;
  margin-bottom: 0.2rem;
  &.required {
    &:after {
      content: '*';
      color: $colorRed;
      font-size: 1.1rem;
      margin-left: 0.25rem;
    }
  }
  &.error {
    &:after {
      content: 'Vui lòng kiểm tra lại trường này';
      color: $colorRed;
      font-size: inherit;
      font-family: $fontText;
      margin-left: 0.25rem;
    }
  }
}

.badge {
  display: inline-block;
  padding: 0.15rem 0.5rem;
  border-radius: 7px;
  cursor: pointer;
  font-size: 0.925rem;
  &:not(:last-child){
    margin-right: 0.25rem;
    margin-bottom: 0.5rem;
  }
  &Secondary {
    background: $bg-02;
    &.selected {
        background: $bg-07;
        color: #fff;
        &:hover {
            background: $bg-07;
            color: #fff;
        }
    }
    &:hover {
        background: $colorSecondary-01;
    }
  }
}

.maxLine_1, .maxLine_2, .maxLine_3, .maxLine_4, .maxLine_5 {
	display: -webkit-box;
	overflow: hidden;
	text-overflow: ellipsis;
	-webkit-box-orient: vertical;
}
.maxLine_1 {
	-webkit-line-clamp: 1;
}
.maxLine_2 {
	-webkit-line-clamp: 2;
}
.maxLine_3 {
	-webkit-line-clamp: 3;
}
.maxLine_4 {
	-webkit-line-clamp: 4;
}
.maxLine_5 {
	-webkit-line-clamp: 5;
}

.show-766 {
  display: none;
  @media(max-width: 766px){
    display: block !important;
  }
}
.hide-766 {
  display: block;
  @media(max-width: 766px){
    display: none !important;
  }
}
.show-990 {
  display: none;
  @media(max-width: 990px){
    display: block !important;
  }
}
.hide-990 {
  display: block;
  @media(max-width: 990px){
    display: none !important;
  }
}

.column {
  display: flex;
  &.two {
    .column_item {
      width: 50%;
      &:not(:first-child){
        margin-left: 1.25rem;
      }
    }
  }
}
/* form */
.formBox {
  &_item {
    &:not(:first-child){
      margin-top: 0.5rem;
    }
  }
}
.inputRequired {
  &:after {
    content: '\f621';
    font-weight: 900;
    @include fontAwesome;
    font-size: 0.55rem;
    color: $colorRed;
    margin-left: 0.3rem;
    opacity: 0.6;
  }
}
.inputWithLabelInside, .textareaWithLabelInside {
  height: 55px;
  border: 1px solid $bg-05;
  width: 100%;
  position: relative;
  padding: 0;
  label {
    margin-bottom: 0;
    font-weight: normal;
    font-size: 0.85rem;
    padding: 0 0.75rem;
  }
  input {
    display: flex;
    margin-top: -2px;
    font-size: 1.05rem;
    padding: 0;
    border: none;
    outline: none;
    padding: 0 0.75rem;
    &:focus {
      border: none;
      outline: none;
    }
  }
  &:not(:first-child){
    margin-top: 1rem;
  }
  &.validateErrorEmpty {
    border: 1px solid $colorRed;
    label {
      &:after {
        content: 'Trường này không được bỏ trống';
        font-family: $fontText;
        font-size: inherit;
        color: $colorRed;
      }
    }
  }
  &.validateErrorPhone {
    border: 1px solid $colorRed;
    label {
      &:after {
        content: 'Số điện thoại không hợp lệ';
        font-family: $fontText;
        font-size: inherit;
        color: $colorRed;
      }
    }
  }
  &.validateSuccess {
    border: 1px solid $colorSuccess;
    label {
      &:after {
        content: '\f00c';
        @include fontAwesome;
        color: $colorSuccess;
        font-size: 0.9rem;
      }
    }
  }
  select {
    -webkit-appearance: none !important;
    -moz-appearance: none !important;
    appearance: none !important;
  }
  .select2-container .select2-selection--single {
    // height: 45px !important;
    padding: 0 !important;    
  }
  .select2-container--default .select2-selection--single {
    border: none !important;
    background: none;
    margin-top: -12px;
    font-weight: bold;
    height: 28px !important;
    
    .select2-selection__arrow {
      display: none;
    }
  }
  .select2-selection__arrow {
    top: 50% !important;
    transform: translateY(-50%);
  }
  .select2-search--dropdown {
    border-top: 1px solid $bg-05;
    input {
      margin: 0 !important;
    }
  }
  .select2-search--dropdown .select2-search__field, .select2-results__option {
    padding: 7px !important;
  }
  .select2-container {
    left: 0 !important;
    .select2-selection--single .select2-selection__rendered {
      padding: 0 0.75rem !important;
    }
  }
}
.textareaWithLabelInside {
  height: auto !important;
  textarea {
    border: none;
  }
}
.select2-container .select2-selection--single {
  height: 45px !important;
  padding: 0.5rem 0.75rem;
  
}
.select2-container--default .select2-selection--single {
  border-radius: 7px !important;
  border: 1px solid $bg-05 !important;
}
.select2-selection__arrow {
  top: 50% !important;
  transform: translateY(-50%);
}
.select2-search--dropdown {
  padding: 1px !important;
  background: $bg-05;
  input {
    // border-radius: 0;
  }
}
.select2-search--dropdown .select2-search__field, .select2-results__option {
  padding: 7px !important;
}
.select2-container .select2-selection--single .select2-selection__rendered {
  padding-left: 0 !important;
  font-family: $fontTitle;
}

/* font */
$folderFont : '/fonts/';
@font-face{
	font-family:'mt';
	font-style:normal;
	font-weight:400;
	src:url($folderFont+"mt-regular.otf")
}
// @font-face{
// 	font-family:'SVN-Gilroy Thin';
// 	font-style:normal;
// 	font-weight:400;
// 	src:url($folderFont+"svn-gilroy_regular.ttf")
// }
// @font-face{
// 	font-family:'SVN-Gilroy Light';
// 	font-style:normal;
// 	font-weight:400;
// 	src:url($folderFont+"svn-gilroy_regular.ttf")
// }
// @font-face{
// 	font-family:'SVN-Gilroy Med';
// 	font-style:normal;
// 	font-weight:700;
// 	src:url($folderFont+"svn-gilroy_med.ttf")
// }
// @font-face{
// 	font-family:'SVN-Gilroy Semi';
// 	font-style:normal;
// 	font-weight:700;
// 	src:url($folderFont+"svn-gilroy_semibold.ttf")
// }
@font-face{
	font-family:'SVN-Gilroy Bold';
	font-style:normal;
	font-weight:700;
	src:url($folderFont+"svn-gilroy_semibold.ttf")
}
@font-face{
	font-family:'SVN-Gilroy';
	font-style:normal;
	font-weight:500;
	src:url($folderFont+"svn-gilroy_medium.ttf")
}

/* Loading giao diện 1 => đồng hồ xoay */
#loading_1 {
  animation: loading_1 1.5s infinite;
}
.loading_1 {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(255,255,255,0.8);
  img {
    width: 55px !important;
    height: 55px !important;
  }
}
@keyframes loading_1 {
  0% {
      animation-timing-function: cubic-bezier(0.5856,0.0703,0.4143,0.9297);
      transform: rotate(0deg);
  }
  100% {
      transform: rotate(360deg);
  }
}
