.cartBox {
    position: relative;
    text-transform: none;
    @include colorOpacity('color', $colorText, 0.8);
    display: flex;
    color: inherit;
    height: inherit;
    &:hover {
        .cartBox_list {
            display: flex;
            flex-direction: column;
        }
    }
    &_icon {
        position: relative;
        width: 28px;
        height: 28px;
        color: #fff;
        &:hover {
            color: #fff;
        }
        img {
            width: inherit;
            height: inherit;
        }
        &_number {
            @include colorOpacity('background', $colorSLv2, 0.8);
            position: absolute;
            top: -15px;
            right: -15px;
            padding: 0.1rem 0.65rem;
            border-radius: 50%;
            font-size: 0.8rem;
            font-weight: 600;
            min-width: 28px;
            text-align: center;
        }
    }
    &_text {
        margin-left: 1rem;
        color: inherit;
    }
    &_list {
        display: none;
        width: 480px;
        background: #fff;
        @include colorOpacity('color', $colorText, 0.8);
        position: absolute;
        top: 40px;
        left: 50%;
        transform: translateX(-50%);
        z-index: 1;
        box-shadow: 1px 1px 10px rgb(0 0 0 / 20%);
        border-top: 2px solid $colorSLv2;
        &_item {
            display: flex;
            color: inherit;
            position: relative;
            padding: 0.75rem 1.25rem 0.5rem 1.25rem;
            &:hover {
                color: inherit;
            }
            &:not(:first-child){
                border-top: 1px dashed $bg-05;
                margin-top: 1rem;
            }
            &_image {
                flex: 0 0 100px;
                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }
            &_content {
                position: relative;
                line-height: 1.4;
                margin-left: 1.5rem;
                &_title {
                    font-size: 1rem;
                    margin-bottom: 0.3rem;
                    color: inherit;
                    height: 45px;
                    font-family: $fontTitle;
                }
                &_price {
                    font-weight: normal;
                    @include colorOpacity('color', $colorText, 0.8);
                    letter-spacing: 0.5px;
                    margin-bottom: 0.5rem;
                }
                &_orther {
                    display: flex;
                    justify-content: space-between;
                    align-items: flex-end;
                    &_total {
                        font-weight: normal;
                        > span {
                            color: $colorPrice;
                            font-weight: bold;
                        }
                    }
                }
                &_action {
                    position: absolute;
                    right: 0;
                    top: 50%;
                    transform: translateY(-50%);
                    cursor: pointer;
                    img {
                        width: 22px;
                        height: 22px;
                    }
                }
            }
            &.total {
                border-top: 1px solid $bg-05;
                padding-top: 0.75rem;
                font-weight: bold;
                display: flex;
                justify-content: flex-end;
                align-items: flex-end;
                > span {
                    color: $colorPrice;
                    font-size: 1.1rem;
                    letter-spacing: 0.5px;
                    margin-left: 0.5rem;
                }
            }
            &.buttonBox {
                border-top: none;
                padding: 0.5rem 1.25rem 1rem 1.25rem;
                margin-top: 0;
                .button {
                    display: flex;
                    width: 100%;
                    justify-content: center;
                    background: $colorSLv1;
                    color: #fff;
                    font-weight: 500;
                    &:hover, &:focus {
                        background: $colorSLv2;
                    }
                }
            }
        }
        .emptyCart {
            padding: 1rem;
            img {
                width: 100%;
                height: 160px;
            }
            &_text {
                text-align: center;
                font-weight: normal;
            }
        }
    }
}
.pageCartBox {
    display: flex;
    align-items: flex-start;
    &_left {
        width: calc(100% - 320px - 2rem);
        &_item {
            background: #fff;
            padding: 1rem 1.5rem;
            border-radius: 10px;
        }
    }
    &_right {
        margin-left: 2rem;
        flex: 0 0 320px;
        background: #fff;
        padding: 1rem 1.5rem;
        border-radius: 10px;
    }
    ul {
        margin-left: 1.25rem;
    }
    @media(max-width: 1199px){
        flex-direction: column;
        &_left {
            width: 100%;
        }
        &_right {
            flex: 0 0 fit-content;
            margin-left: auto;
            margin-top: 1.5rem;
            width: 100%;
        }
    }
    @media(max-width: 766px){
        &_left {
            &_item {
                padding: 0.5rem 1rem;
            }
        }
        &_right {
            padding: 0.5rem 1rem;
        }
    }
}
.cartSectionBox {
    width: 100%;
    font-size: 1rem;
    &_title {
        margin-bottom: 0.5rem;
        padding-bottom: 0.75rem;
        border-bottom: 1px solid $bg-05;
        font-weight: bold;
        font-size: 1.1rem;
    }
    &_body {
        width: inherit;
        .total {
            font-weight: bold;
            display: flex;
            justify-content: space-between;
            &_number {
                color: $colorPrice;
                font-size: 1.2rem;
                letter-spacing: 0.5px;
                margin-left: 0.5rem;
            }
        }
    }
    &_notice {
        @include colorOpacity('color', $colorText, 0.8);
        font-size: 1rem;
        @include colorOpacity('background', $colorSLv2, 0.2);
        padding: 0.25rem 0.5rem;
        font-size: 0.95rem;
        margin-top: 0.75rem;
    }
    &_button {
        margin-top: 1rem;
        .button {
            display: flex;
            justify-content: center;
        }
    }
    .highLight {
        font-size: 1.2rem;
        font-weight: bold;
        color: $colorText;
    }
    @media(max-width: 990px){
        &_title {
            margin-bottom: 0;
            border: none;
        }
    }
}
.cartProductBox {
    &_head, &_body_item {
        display: flex;
        width: inherit;
        > * {
            padding: 0.25rem 1rem;
            &:nth-child(1){
                width: 100%
            }
            &:nth-child(2){
                flex: 0 0 130px;
                text-align: right;
            }
            &:nth-child(3){
                flex: 0 0 170px;
                display: flex;
                justify-content: center;
            }
            &:nth-child(4){
                flex: 0 0 130px;
                text-align: right;
            }
        }
    }
    &_head {
        font-size: 0.95rem;
        font-weight: bold;
        margin-bottom: 0.5rem;
        @include colorOpacity('color', $colorText, 0.6);
    }
    &_body {
        display: flex;
        flex-direction: column;
        &_item {
            display: flex;
            border-top: 1px dashed $bg-05;
            padding-top: 0.5rem;
            margin-top: 0;
            position: relative;
            &:not(:first-child){
                margin-top: 0.5rem;
            }
            &_info {
                display: flex;
                align-items: stretch;
                &_image {
                    flex: 0 0 80px;
                    img {
                        width: 100%;
                    }
                }
                &_content {
                    width: 100%;
                    margin-left: 1rem;
                    display: flex;
                    flex-direction: column;
                    &_title {
                        font-size: 1rem;
                        line-height: 1.4;
                        font-weight: bold;
                        margin-bottom: 0.5rem;
                        color: $colorLv1;
                        font-family: $fontTitle;
                    }
                    &_option {
                        font-size: 1rem;
                    }
                }
                
            }
            &_price {
                &_now {
                    font-family: $fontTitle;
                }
                &_old {
                    display: flex;
                    align-items: center;
                    &_percent {
                        margin-right: 0.5rem;
                        background: $colorLabel;
                        padding: 0 0.25rem;
                        font-size: 0.7rem;
                        color: #fff;
                        border-radius: 5px;
                        height: 20px;
                        line-height: 20px;
                    }
                    &_number {
                        text-decoration: line-through;
                        font-size: 0.9rem;
                        @include colorOpacity('color', $colorText, 0.6);
                    }
                }
            }
            &_money {
                font-weight: bold;
                color: $colorPrice;
                letter-spacing: 0.5px;
                display: flex;
                flex-direction: column;
                text-align: right;
                > * {
                    width: 100%;
                }
                &_icon {
                    margin-top: auto;
                    img {
                        float: right;
                        width: 22px;
                        cursor: pointer;
                        &:hover {
                            width: 25px;
                        }
                    }
                }
            }
        }
    }
    @media(max-width: 990px){
        &_head {
            display: none;
        }
        &_body {
            &_item {
                flex-wrap: wrap;
                &_info {
                    padding-left: 0;
                    padding-right: 0;
                    width: calc(100% - 130px) !important;
                    &_image {
                        flex: 0 0 150px;
                    }
                }
                &_price {
                    order: 4;
                    margin-top: -2.25rem;
                    display: flex;
                    padding-left: 0 !important;
                    align-items: flex-end;
                    padding-top: 0;
                    padding-bottom: 0.15rem;
                    &_old {
                        flex-direction: row-reverse;
                        > * {
                            margin-left: 0.75rem;
                        }
                    }
                }
                &_quantity {
                    align-items: flex-end;
                    order: 3;
                    margin-left: calc(150px + 1rem);
                    margin-top: -2.75rem;
                    margin-bottom: 0.25rem;
                    padding-left: 0;
                    padding-top: 0;
                    flex: 0 0 fit-content !important;
                }
                &_money {
                    padding-right: 0;
                    order: 2;
                }
            }
            .inputQty {
                height: 30px !important;
                max-width: 110px;
                border-radius: 15px;
                .inputQty_button {
                    flex: 0 0 30px;
                    &.minus {
                        border-radius: 15px 0 0 15px;
                    }
                    &.plus {
                        border-radius: 0 15px 15px 0;
                    }
                }
                input {
                    flex: 0 0 45px;
                }
            }
        }
    }
    @media(max-width: 766px){
        &_body {
            &_item {
                &_price {
                    &_old {
                        display: none;
                    }
                }
            }
        }
    }
    @media(max-width: 576px){
        &_body {
            &_item {
                &_info {
                    width: 100% !important;
                    &_content {
                        &_title {
                            margin-bottom: 0.25rem; 
                        }
                    }
                    &_image {
                        flex: 0 0 120px;
                    }
                }
                &_quantity {
                    order: 3;
                    margin-left: calc(120px + 1rem);
                    flex: unset !important;
                    width: 100% !important;
                    justify-content: flex-start !important;
                }
                &_money {
                    text-align: right;
                    flex-direction: row;
                    flex: unset !important;
                    width: calc(100% - 130px);
                    order: 6;
                    padding-left: 0;
                }
            }
        }
    }
}