// .categoryBlogWithSidebarBox {
//     display: flex;
//     &_box {
//         width: 100%;
//     }
//     &_sidebar {
//         flex: 0 0 320px;
//         margin-left: 2.5rem;
//     }

// }

.ratingBox {
	font-size: 0.925rem;
    display:flex;
    margin-bottom: 0.5rem;
	&_star {
        min-width: 100px;
		&_on {
			color: $colorSecondary !important;
		}
		&_off {
			color: #789;
		}
	}
	&_text {
		font-weight: normal;
		color: #789;
        margin-left: 1rem;
        a {
            font-size: 15px;
            color: $colorLv1;
            &:hover {
                color: $colorLv2;
            }
        }
	}
    @media (max-width: 577px){
        margin-bottom: 0.25rem;
    }
}

.blogListLeftRight {
    margin-top: 1rem;
    padding-bottom: 1rem;
    &_title {
        border-left: 5px solid $colorSecondaryHover;
        padding-bottom: 0;
        margin-bottom: 1.5rem;
        background: linear-gradient(90deg, $colorSecondary-01 0, rgb(255, 255, 255) 100%);
        border-radius: 7px 0 0 7px;
        h2, h3 {
            font-size: 1.2rem;
            color: $colorTitle;
            margin-top: 0;
            margin-bottom: 0;
            display: inline-block;
            padding: 0.5rem 1.25rem;
        }
    }
    &_box {
        display: flex;
        justify-content: space-between;
        &_left {
            width: 50%;
            &_image {
                display: flex;
                margin-bottom: 0.75rem;
                img {
                    margin: 0;
                    width: 100%;
                    object-fit: cover;
                    border-radius: 5px;
                }
            }
            &_content {
                &_title {
                    display: flex;
                    h2, h3 {
                        font-size: 1.2rem;
                        margin-bottom: 0.75rem;
                        color: $colorTitle;
                        &:hover {
                            color: $colorLv1;
                        }
                    }
                }
                &_time {
                    font-size: 0.95rem;
                    color: $colorDesc;
                    margin-bottom: 0.25rem;
                    i {
                        margin-right: 0.5rem;
                    }
                }
                &_desc {
                    color: $colorDesc;
                    font-size: 1rem;
                }
            }
        }
        &_right {
            margin-left: 0.75rem;
            padding-left: 0.75rem;
            width: 50%;
            &_item {
                display: flex;
                justify-content: space-between;
                &:not(:first-child){
                    margin-top: 0.75rem;
                    padding-top: 0.75rem;
                    border-top: 1px dashed $bg-05;
                }
                &_image {
                    display: flex;
                    flex: 0 0 120px;
                    img {
                        margin: 0;
                        width: 100%;
                        object-fit: cover;
                        border-radius: 3px;
                    }
                }
                &_content {
                    margin-left: 1rem;
                    width: 100%;
                    // display: flex;
                    h2, h3 {
                        font-size: 1.05rem;
                        color: $colorTitle;
                        margin-bottom: 0.5rem;
                        margin-top: -0.25rem;
                        &:hover {
                            color: $colorLv1;
                        }
                    }
                    &_time {
                        font-size: 0.95rem;
                        color: $colorDesc;
                        i {
                            margin-right: 0.5rem;
                        }
                    }
                }
            }
        }
    }
    &_footer {
        margin-top: 1rem;
        text-align: center;
        &_text {
            font-style: italic;
            font-size: 1rem;
            margin-bottom: 0.5rem;
        }
        &_button {
            display: inline-block;
            border: 1px solid $colorLv1;
            width: auto;
            padding: 0.25rem 1.5rem;
            border-radius: 100px;
            font-size: 1rem;
            color: $colorLv1;
            cursor: pointer;
            &:hover {
                background: $colorLv2-01;
            }
            i {
                margin-right: 0.5rem;
            }
        }
        .highLight {
            font-size: 1.2rem;
            font-weight: bold;
            color: $colorLv1;
        }
    }
    @media(max-width: 767px){
        &_box {
            flex-wrap: wrap;
            &_left {
                width: 100%;
                display: flex;
                &_image {
                    flex: 0 0 260px;
                    margin-bottom: 0;
                }
                &_content {
                    margin-left: 1rem;
                }
            }
            &_right {
                width: 100%;
                margin: 0.75rem 0 0 0;
                padding: 0.75rem 0 0 0;
                border-top: 1px dashed $bg-04;
                &_item {
                    &_image {
                        flex: 0 0 160px;
                        img {
                            
                        }
                    }
                }
            }
        }
    }
    @media(max-width: 577px){
        margin-top: 0.75rem;
        &_title {
            margin-bottom: 1.25rem;
        }
        &_box {
            &_left {
                flex-wrap: wrap;
                &_image {
                    width: 100%;
                    margin-bottom: 0.75rem;
                    flex: unset;
                }
                &_content {
                    margin-left: 0;
                    &_title {
                        h2, h3 {
                            margin-bottom: 0.5rem;
                        }
                    }
                }
            }
            &_right {
                &_item {
                    &_image {
                        flex: 0 0 100px;
                    }
                }
            }
        }
    }
}
.articleBox {
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
    &_item {
        display: flex;
        justify-content: space-between;
        &:not(:first-child){
            margin-top: 1rem;
            padding-top: 1rem;
            border-top: 1px dashed $bg-05;
        }
        &_image {
            display: flex;
            flex: 0 0 260px;
            img {
                width: 100%;
                border-radius: 5px;
                object-fit: cover;
                height: 160px;
                margin: 0;
            }
        }
        &_content {
            width: 100%;
            margin-left: 1rem;
            text-align: justify;
            &_title {
                // height: 50px;
                display: flex;
                h2 {
                    font-size: 1.25rem !important;
                    margin: 0 0 0.5rem 0;
                    color: $colorTitle;
                    &:hover {
                        color: $colorLv1;
                    }
                }
            }
            &_subtitle {
                font-size: 0.9rem;
                margin-bottom: 0.25rem;
                > * {
                    &:not(:first-child){
                        margin-left: 1.2rem;
                    }
                    i {
                        margin-right: 0.1rem;
                        color: $bg-06;
                    }
                }
            }
            &_des {
                color: $colorDesc;
                font-size: 1rem;
                margin-top: 0.25rem;
            }
        }
        @media (min-width: 991px) and (max-width: 1199px) {
            &_content {
                &_title {
                    h2 {
                        font-size: 1.2rem !important;
                    }
                }
            }
        }
        @media (min-width: 768px) and (max-width: 990px){
            &_content {
                &_title {
                    h2 {
                        font-size: 1.2rem !important;
                    }
                }
            }
        }
        @media (min-width: 578px) and (max-width: 767px){
            &_content {
                &_title {
                    h2 {
                        font-size: 1.2rem !important;
                    }
                }
                &_subtitle {
                    font-size: 0.9rem !important;
                    margin-bottom: 0.5rem;
                    &_author {
                        display: none;
                    }
                }
            }
            &_image {
                flex: 0 0 240px;
            }
        }
        @media (max-width: 577px) {
            flex-wrap: wrap;
            border-radius: 5px;
            &:not(:first-child){
                margin-top: 1.5rem;
                border: none;
                padding-top: 0;
            }
            &_image {
                flex: 0 0 100%;
                height: unset;
                img {
                    height: 215px !important;
                }
            }
            &_content {
                padding: 0.5rem 0;
                margin-left: 0;
                background: #fff;
                border-radius: 0 0 5px 5px;
                &_title {
                    h2 {
                        font-size: 1.15rem !important;
                    }
                }
                &_subtitle {
                    font-size: 0.9rem !important;
                    margin-bottom: 0.5rem;
                }
                &_des {
                    font-size: 0.95rem !important;
                }
            }
        }
    }
}