$opacity-to-hex: (
    0       : '00',
    0.05    : '0C',
    0.1     : '19',
    0.15    : '26',
    0.2     : '33',
    0.25    : '3F',
    0.3     : '4C',
    0.35    : '59',
    0.4     : '66',
    0.45    : '72',
    0.5     : '7F',
    0.55    : '8C',
    0.6     : '99',
    0.65    : 'A5',
    0.7     : 'B2',
    0.75    : 'BF',
    0.8     : 'CC',
    0.85    : 'D8',
    0.9     : 'E5',
    0.95    : 'F2',
    1       : 'FF'
);
@mixin colorOpacity($property, $color, $opacity, $important:null) {
    #{$property}: unquote($color + map-get($opacity-to-hex, $opacity)) $important;
}
/* ===== */
$colorLv1       : #144272;
$colorLv2       : #205295;
/* ===== */
$colorSLv1      : #FF6E31;
$colorSLv2      : #ff793f;
/* ===== */
$colorButtonLv1 : #FF6E31;
$colorButtonLv2 : #ff793f;
/* ===== */
$colorTextLight : #F7FF93;
/* ===== */
$colorText      : #243763;
/* ===== */
$colorLabel     : #AD8E70;
/* ===== */
$colorGradient  : rgba(240,160,0,0.3);
$colorPrice     : #FF6E31;
$colorStar      : #fcaf17;
$colorSuccess   : #06d6a0;
$colorRed       : #ed1c24;
/* ===== */
$bg-1           : #212529;
$bg-09          : #343a40;
$bg-08          : #495057;
$bg-07          : #6c757d;
$bg-06          : #adb5bd;
$bg-05          : #ced4da;
$bg-04          : #dee2e6;
$bg-03          : #e9ecef;
$bg-02          : #EDF2F7;

