/* ===== không sửa trực tiếp ở đây do dùng replace */
$colorLv1       : #144272;
$colorLv2       : #205295;
/* ===== */
$colorSLv1      : #ff6e31;
$colorSLv2      : #ff793d;
/* ===== */
$colorButtonLv1 : #ff6e32;
$colorButtonLv2 : #ff793f;
/* ===== */
$colorTextLight : #f7ff93;
/* ===== */
$colorText      : #243763;
/* ===== */
$colorLabel     : #ad8e70;
/* ===== */
$colorPrice     : #ff6d31;
$colorStar      : #fcaf17;
$colorSuccess   : #06d6a0;
$colorRed       : #ed1c24;