/* ===== không sửa trực tiếp ở đây do dùng replace */
$colorLv1       : #144272;
$colorLv2       : #205295;
/* ===== */
$colorSLv1      : #FF6E31;
$colorSLv2      : #ff793f;
/* ===== */
$colorButtonLv1 : #FF6E31;
$colorButtonLv2 : #ff793f;
/* ===== */
$colorTextLight : #F7FF93;
/* ===== */
$colorText      : #243763;
/* ===== */
$colorLabel     : #AD8E70;
/* ===== */
$colorPrice     : #FF6E31;
$colorStar      : #fcaf17;
$colorSuccess   : #06d6a0;
$colorRed       : #ed1c24;