.messageOrderSuccess {
    display: flex;
    align-items: center;
    &_image {
        flex: 0 0 80px;
        img {
            width: 100%;
        }
    }
    &_text {
        width: 100%;
        font-weight: bold;
        margin-left: 1rem;
    }
}

.confirmSectionBox {
    &:not(:first-child){
        margin-top: 1.5rem;
    }
    &:last-child{
        margin-bottom: 2rem;
    }
    &_title {
        font-size: 1.2rem;
        font-weight: bold;
        margin-bottom: 0.5rem;
        color: $colorLv1;
    }
    &_body {
        line-height: 1.8;
        &_item {
            display: flex;
            > * {
                &:first-child{
                    flex: 0 0 110px;
                }
                &:nth-child(2){
                    margin-left: 1rem;
                }
            }
        }
    }
}

.buttonBoxPageConfirm {
    border: none;
    position: fixed;
    width: 100%;
    bottom: 0;
    left: 0;
    background: $bg-02;
    padding: 0.75rem 1rem;
    border-top: 1px solid $bg-05;
    &_box {
        display: flex;
        justify-content: space-between;
        max-width: 660px;
        width: 100%;
        margin: 0 auto;
        a {
            font-weight: 600;
            @include colorOpacity('color', $colorText, 0.7);
            &:hover {
                color: $colorButtonLv1;
            }
            i {
                margin-right: 0.5rem;
            }
        }
    }
}