@import 'base.scss';
@import 'menu.scss';
@import 'sidebar.scss';
@import 'category.scss';
@import 'product.scss';
@import 'categoryBlog.scss';
@import 'blog.scss';
@import 'cart.scss';
@import 'checkout.scss';
@import 'confirm.scss';
@import 'login.scss';
.logoMain {
    display: flex;
    width: 200px;
    aspect-ratio: 290/100;
    background: url('https://hoaanhtuc.vn/storage/images/upload/logo-hoaanhtuc-type-manager-upload.webp') no-repeat;
    background-size: 100% 100%;
}
.hotlineBox {
    font-size: 1.2rem;
    color: $colorLv1;
    font-family: $fontTitle;
    display: flex;
    align-items: center;
    color: inherit;
    i {
        font-size: 1rem;
        margin-right: 0.5rem;
    }
    &:after {
        content: 'hotline';
        background: $colorSecondary;
        color: $colorText;
        padding: 0 0.5rem;
        border-radius: 10px;
        font-size: 0.95rem;
        margin-left: 0.5rem;
        font-family: $fontTitle;
    }
}
.sliderBox {
    position: relative;
    width: 100%;
    aspect-ratio: 1920/600;
    overflow: hidden;
    .slick-dots {
        position: absolute;
        margin: 0;
        bottom: 5px;
        left: 50%;
        transform: translateX(-50%);
        display: flex;
        li {
            list-style-type: none;
            margin-top: 0;
            &:not(:first-child){
                margin-left: 0.5rem;
            }
            button {
                border-radius: 100px;
                color: transparent;
                width: 50px;
                height: 4px;
                background: $colorSecondary-06;
                outline: none;
                border: none;
                cursor: pointer;
                &:focus {
                    outline: none;
                    border: none;
                }
            }
            &.slick-active {
                button {
                    background: $colorLv4;
                }
            }
        }
    }
    .slick-arrow {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        z-index: 1;
        padding: 0.5rem 0.65rem;
        font-size: 1.2rem;
        border: none;
        cursor: pointer;
        border-radius: 5px;
        color: $colorDesc;
        background: $colorLv4;
        opacity: 0.6;
        &:hover {
            opacity: 1;
        }
        &.slick-prev {
            left: 10px;
        }
        &.slick-next {
            right: 10px;
        }
    }
    @media(max-width: 766px){
        aspect-ratio: 750/550;
        .slick-dots {
            bottom: 0;
            li {
                button {
                    width: 40px;
                    height: 3.5px;
                }
            }
        }

    }
}
.breadcrumbBox {
    padding-top: 0.5rem;
    .container {
        
        overflow: hidden;
        a {
            color: $colorLv1;
            &:hover {
                color: $colorLv2;
            }
            &:after {
                @include fontAwesome;
                content: '\f101';
                margin-right: 0.5rem;
                margin-left: 0.5rem;
                font-size: 0.7rem;
                color: $bg-06;
            }
        }
    }
    @media (max-width: 767px){
        padding-top: 0.75rem;
    }
}
.bannerSecondaryBox {
    background: $colorLv1;
    color: #fff;
    padding: 0.5rem 0;
    .container {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    &_item {
        display: flex;
        align-items: center;
        width: 100%;
        &:not(:first-child){
            margin-left: 1rem;
            padding-left: 1rem;
            border-left: 2px dashed $colorLv2-03;
        }
        &_icon {
            flex: 0 0 60px;
            height: 60px;
            background-size: 100% 100%;
        }
        &_text {
            width: 100%;
            margin-left: 1rem;
            
            line-height: 1.5;
            &_title {
                color: $colorLv4;
                font-family: $fontTitle;
                margin-bottom: 0.25rem;
            }
            &_desc {
                font-size: 0.9rem;
            }
        }
    }
    @media(max-width: 1199px){
        .container {
            flex-wrap: wrap;
        }
        &_item {
            width: calc(50% - 0.5rem);
            &:nth-child(2n + 1){
                margin-left: 0;
                padding-left: 0;
                border-left: none;
            }
            &:nth-child(n + 3){
                margin-top: 0.5rem;
                padding-top: 0.5rem;
                border-top: 2px dashed $colorLv2-03;
            }
            &_icon {
                flex: 0 0 50px;
                height: 50px;
            }
        }
    }
    @media(max-width: 576px){
        .container {
            flex-wrap: wrap;
        }
        &_item {
            &_icon {
                flex: 0 0 35px;
                height: 35px;
            }
            &_text {
                &_desc {
                    display: none;
                }
            }
        }
    }
}
.categoryGridBox {
    .container {
        position: relative;
        display: flex;
        align-items: flex-start;
        // &:after {
        //     content: '';
        //     position: absolute;
        //     width: 100px;
        //     height: 100%;
        //     top: 0;
        //     right: 0;
        //     background: linear-gradient(270deg, $bg-02 20%, transparent);
        //     z-index: 1;
        // }
    }
    &_item {
        width: 100%;
        color: $colorLv1;
        &:hover {
            color: $colorLv2;
            .categoryGridBox_item_icon {
                border: 2px dashed $colorLv2;
            }
        }
        &:not(:first-child){
            margin-left: 2rem;
        }
        &_icon {
            background: $colorSecondary-01;
            width: 100%;
            border-radius: 50%;
            padding: 1.5rem;
            margin-bottom: 0.5rem;
            border: 2px solid #fff;
            transition: all 0.5s;
            aspect-ratio: 1 / 1;
            display: flex;
            align-items: center;
            justify-content: center;
            img {
                width: 100%;
                display: flex;
                margin: 0 auto;
            }
        }
        &_title {
            text-align: center;
            font-weight: 700;
            line-height: 1.4;
            color: $colorText;
        }
    }
    @include slickArrowCircle;
    @media(max-width: 1199px){
        &_item {
            &:not(:first-child){
                margin-left: 1.75rem;
            }
        }
    }
    @media(max-width: 990px){
        &_item {
            &:not(:first-child){
                margin-left: 1.5rem;
            }
        }
    }
    @media(max-width: 766px){
        &_item {
            &:not(:first-child){
                margin-left: 1.25rem;
            }
        }
    }
    @media(max-width: 576px){
        &_item {
            &:not(:first-child){
                margin-left: 1rem;
            }
        }
    }
}
.categoryWithBannerBox {
    &_title {
        margin-bottom: 1.5rem;
        h2, h3 {
            font-size: 1.4rem;
            font-weight: 700;
            text-transform: uppercase;
            font-family: $fontText;
            margin-bottom: 0 !important;
            color: $colorLv1;
        }
    }
    &_box {
        display: flex;
        align-items: stretch;
        &_banner {
            flex: 0 0 200px;
        }
        &_product {
            width: calc(100% - (200px + 2.5rem));
            margin-left: 2.5rem;
        }
        @include slickArrowCircle;
        .slick-slider {
            .slick-arrow {
                &.slick-prev {
                    left: -18px;
                }
                // &.slick-next {
                //     right: 0;
                // }
            }
        }
        .productGridBox {
            &_item {
                // min-width: 230px;
            }
        }
    }
}
.categoryBox {
    &_title {
        margin-bottom: 1.5rem;
        h2, h3 {
            font-size: 1.4rem;
            font-weight: 700;
            text-transform: uppercase;
            font-family: $fontText;
            margin-bottom: 0 !important;
            color: $colorLv1;
        }
    }
    &_box {
        width: 100%;
        @include slickArrowCircle;
        .slick-slider {
            .slick-arrow {
                &.slick-prev {
                    left: -18px;
                }
                // &.slick-next {
                //     right: 0;
                // }
            }
        }
    }
    @media(max-width: 1199px){
        &_title {
            margin-bottom: 1.25rem;
            h2, h3 {
                font-size: 1.35rem;
            }
        }
    }
    @media(max-width: 990px){
        &_title {
            h2, h3 {
                font-size: 1.3rem;
            }
        }
    }
    @media(max-width: 766px){
        &_title {
            margin-bottom: 1rem;
            h2, h3 {
                font-size: 1.25rem;
            }
        }
    }
    @media(max-width: 576px){
        &_title {
            h2, h3 {
                font-size: 1.2rem;
            }
        }
    }
}
.categoryWithFilterBox {
    display: flex;
    align-items: stretch;
    &_box {
        width: 100%;
    }
    &_filter {
        flex: 0 0 250px;
        margin-left: 2.5rem;
    }
    @media(max-width: 767px){
        &_filter {
            display: none;
        }
    }
}
.filterBox {
    &_item {
        &:not(:first-child){
            margin-top: 1.5rem;
        }
        &_title {
            font-size: 1.2rem;
            font-family: $fontTitle;
            font-weight: 700;
            margin-bottom: 0.75rem;
            display: flex;
            justify-content: space-between;
            align-items: center;
            &:after {
                content: '\f106';
                @include fontAwesome;
                font-size: 1rem;
                color: $colorDesc;
            }
        }
        &_box {
            
            &_item {
                &:not(:first-child){
                    margin-top: 0.5rem;
                }
            }
            .listPrice {
                &_item {
                    display: flex;
                    align-items: center;
                    position: relative;
                    cursor: pointer;
                    &:not(:first-child){
                        margin-top: 0.5rem;
                    }
                    &:before {
                        content: '';
                        margin-right: 0.5rem;
                        width: 22px;
                        height: 22px;
                        border-radius: 5px;
                        border: 1px solid $colorLv1;
                        display: inline-block;
                    }
                    &.selected {
                        &:before {
                            background: $colorLv2;
                        }
                        &:after {
                            content: '\f00c';
                            position: absolute;
                            left: 5px;
                            top: 0;
                            @include fontAwesome;
                            color: #fff;
                        }
                    }
                }
            }
        }
    }
    
}
.sortBox {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    
    color: $colorDesc;
    margin-bottom: 1rem;
    margin-top: -0.25rem;
    &_left {
        width: 100%;
    }
    &_right {
        width: 100%;
        &_item {
            display: flex;
            justify-content: flex-end;
            align-items: center;
            > * {
                &:not(:first-child){
                    margin-left: 0.5rem;
                }
            }
            
            select {
                padding: 0;
                color: $colorDesc;
                border: none;
            }
        }
    }
    .highLight {
        @include highLight;
    }
}
.productGridSlickBox {
    
}
.productGridFlexBox {
    .productGridBox {
        flex-wrap: wrap;
        &_item {
            width: calc(25% - 1.5rem);
            &:nth-child(4n + 1){
                margin-left: 0 !important;
            }
            &:nth-child(n + 5){
                margin-top: 2rem;
            }
        }
        @media(max-width: 1199px){
            &_item {
                width: calc(33.33% - 1.3333rem);
                &:nth-child(3n + 1){
                    margin-left: 0 !important;
                }
                &:not(:nth-child(3n + 1)){
                    margin-left: 2rem !important;
                }
                &:nth-child(n + 4){
                    margin-top: 2rem;
                }
            }
        }
        @media(max-width: 990px){
            &_item {
                width: calc(50% - 1rem);
                &:nth-child(2n + 1){
                    margin-left: 0 !important;
                }
                &:not(:nth-child(2n + 1)){
                    margin-left: 2rem !important;
                }
                &:nth-child(n + 3){
                    margin-top: 2rem;
                }
            }
        }
    }
}
.blogHomeBox {
    &_title {
        text-align: center;
        margin-bottom: 0.5rem;
        h2, h3 {
            font-size: 1.4rem;
            font-weight: 700;
            text-transform: uppercase;
            font-family: $fontText;
            margin-bottom: 0 !important;
            color: $colorLv1;
        }
    }
    &_description {
        text-align: center;
        margin-bottom: 1rem;
    }
    &_box {
        display: flex;
        &_item {
            position: relative;
            overflow: hidden;
            &:hover {
                img {
                    scale: 1.25;
                    transition: all 0.5s;
                }
                h3, h4 {
                    color: $colorLv4;
                }
            }
            img {
                width: 100%;
                display: flex;
                aspect-ratio: 750/460;
                object-fit: cover;
            }
            &_content {
                position: absolute;
                bottom: 0;
                left: 0;
                padding: 0.75rem 1rem;
                z-index: 2;
                &_title {
                    position: relative;
                    h3, h4 {
                        color: #fff;
                        font-size: 1.05rem;
                        font-family: $fontTitle;
                        margin-left: 1rem;
                        text-shadow: 2px 2px 20px $bg-08;
                    }
                    &:before {
                        content: '';
                        height: 100%;
                        width: 3px;
                        border-left: 3px solid $colorLv4;
                        position: absolute;
                        top: 0;
                        left: 0;
                    }
                }
            }
            &_background {
                height: 80px;
                width: 100%;
                position: absolute;
                bottom: 0;
                left: 0;
                background: linear-gradient(0deg, rgba(20, 20, 20, 0.9), transparent);
                z-index: 1;
            }
        }
    }
    @include slickArrowCircle;
    @media(max-width: 1199px){
        &_title {
            h2, h3 {
                font-size: 1.35rem;
            }
        }
    }
    @media(max-width: 990px){
        &_title {
            margin-bottom: 0.25rem;
            h2, h3 {
                font-size: 1.3rem;
            }
        }
        &_description {
            margin-bottom: 0.75rem;
        }
    }
    @media(max-width: 766px){
        &_title {
            h2, h3 {
                font-size: 1.25rem;
            }
        }
    }
    @media(max-width: 576px){
        &_title {
            margin-bottom: 0;
            h2, h3 {
                font-size: 1.2rem;
            }
        }
        &_description {
            margin-bottom: 0.5rem;
        }
    }
}
.registryEmailBox {
    max-width: 500px;
    margin-top: 2rem;
    &_text {
        margin-bottom: 1rem;
        text-transform: uppercase;
        font-size: 1.1rem;
        color: $colorLv4;
        font-family: $fontTitle;
    }
    &_input {
        display: flex;
        button {
            background: $colorSecondary;
            border-radius: 0 7px 7px 0;
            color: $colorText;
            display: flex;
            align-items: center;
            padding: 0.5rem 1rem;
            &:hover, &:focus {
                background: $colorSecondaryHover;
            }
            i {
                margin-right: 0.5rem;
                font-size: 1.2rem;
            }
        }
        input {
            border-radius: 7px 0 0 7px;
        }
    }
    @media(max-width: 990px){
        margin-top: 1.5rem;
        &_text {
            font-size: 1.05rem;
            margin-bottom: 0.75rem;
        }
    }
    @media(max-width: 576px){
        margin-top: 1rem;
        &_text {
            font-size: 1rem;
            margin-bottom: 0.5rem;
        }
    }
}
.bottom {
    position: fixed;
    bottom: 0;
    right: 0;
    padding: 0.25rem;
    z-index: 1000;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}
.footerBox {
    background: $colorLv1;
    color: #fff;
    padding: 2.5rem 0;
    font-size: 0.95rem;
    .container {
        display: flex;
        align-items: stretch;
    }
    &_item {
        width: calc(25% - 1.25rem);
        &:not(:first-child){
            margin-left: 2rem;
        }
        &_title {
            font-family: $fontTitle;
            font-size: 1.1rem;
            text-transform: uppercase;
            color: $colorLv4;
            margin-bottom: 0.75rem;
        }
        &_list {
            &_item {
                display: flex;
                color: #fff;
                &:not(:first-child){
                    margin-top: 0.5rem;
                }
            }
            a {
                &:hover {
                    color: $colorLv4;
                }
            }
        }
    }
    @media(max-width: 990px){
        padding: 2rem 0;
        .container {
            flex-wrap: wrap;
        }
        &_item {
            width: calc(50% - 1rem);
            &:nth-child(2n + 1){
                margin-left: 0 !important;
            }
            &:nth-child(n + 3){
                margin-top: 2rem;
            }
            &_title {
                font-size: 1.05rem;
                margin-bottom: 0.5rem;
            }
        }
    }
    @media(max-width: 576px){
        padding: 1.5rem 0;
        &_item {
            width: 100%;
            margin-left: 0 !important;
            &:not(:first-child){
                margin-top: 1.5rem !important;
            }
            &_title {
                font-size: 1rem;
                margin-bottom: 0.25rem;
            }
            &_list {
                &_item {
                    &:not(:first-child){
                        margin-top: 0.25rem;
                    }
                }
            }
        }
    }
}
.copyright {
    background: $colorSecondary-03;
    padding: 0.5rem 0;
    font-size: 0.9rem;
    line-height: 1.5;
}
.gotoTop {
    align-self: flex-end;
    
    border: none;
    outline: none;
    background-color: $colorLv2-06;
    color: #fff;
    cursor: pointer;
    border-radius: 4px;
    width: 40px;
    height: 40px;
    margin-right: 0.75rem;
    margin-bottom: 0.75rem;
    i {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100%;
    }
    &:hover {
        background: $colorLv2-08;
    }
    @media(max-width: 767px){
        margin-right: 0.5rem;
        margin-bottom: 0.5rem;
    }
}
.cartMessage {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 999999;
    align-items: center;
    justify-content: center;
    &_bg {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(30,41,51,0.45);
    }
    &_box {
        background: #fff;
        max-width: 420px;
        width: 100%;
        padding: 0.75rem 1.5rem 1rem 1.5rem;
        position: fixed;
        top: 1.5rem;
        right: 1.5rem;
        border-radius: 10px;
        &_head {
            padding-bottom: 0.5rem;
            border-bottom: 1px solid $bg-04;
        }
        &_body {
            margin-top: 1rem;
            display: flex;
            &_image {
                flex: 0 0 125px;
                img {
                    height: 100%;
                    object-fit: cover;
                }
            }
            &_content {
                width: 100%;
                margin-left: 1.25rem;
                &_title {
                    font-family: $fontTitle;
                    font-size: 1.05rem;
                    line-height: 1.45;
                    color: $colorTitle;
                    margin-bottom: 0.5rem;
                }
                &_type {
                    margin-bottom: 0.5rem;
                    
                }
                &_price {
                    color: $colorLv2;
                    font-size: 1.2rem;
                    font-weight: bold;
                    letter-spacing: 1px;
                }
            }
        }
        &_footer {
            margin-top: 1.25rem;
            > * {
                display: flex;
                justify-content: center;
                background: $colorSecondaryHover;
                color: #fff;
                &:focus {
                    color: #fff;
                    background: $colorSecondaryHover;
                }
                &:hover {
                    color: #fff;
                    background: $colorSecondary;
                }
            }
        }
    }
    .highLight {
        font-size: 1.3rem;
        font-weight: bold;
        color: $colorLv1;
    }
    @media(max-width: 576px){
        &_box {
            border-top-left-radius: 0;
            border-top-right-radius: 0;
            top: 0;
            left: 50%;
            right: unset;
            transform: translateX(-50%);
        }
    }
}
.pageContentWithSidebar {
    display: flex;
    align-items: flex-start;
    &_content {
        width: calc(100% - 320px - 2.5rem);
        ul {
            margin-left: 1.25rem;
        }
    }
    &_sidebar {
        flex: 0 0 320px;
        margin-left: 2.5rem;
    }
    @media(max-width: 990px){
        flex-direction: column;
        &_content {
            width: 100%;
        }
        &_sidebar {
            margin-left: 0;
            margin-top: 2rem;
            flex: unset;
        }
    }
    @media(max-width: 766px){
        &_sidebar {
            margin-top: 1.5rem;
        }
    }
    @media(max-width: 576px){
        &_sidebar {
            margin-top: 1rem;
        }
    }
}
.keySearchBadge {
    font-size: 0.95rem;
    margin-left: 1rem;
    &_item {
        display: inline-block;
        border-radius: 5px;
        padding: 0.35rem 0.5rem 0.35rem 0.75rem;
        background: $bg-07;
        &_badge {
            display: flex;
            color: #fff;
            cursor: pointer;
            &:hover {
                color: #fff;
            }
            &_action {
                margin-left: 0.5rem;
            }
        }
        &:hover {
            background: $bg-08;
        }
    }
}
