$color-title            : #345;
$color-primary          : rgb(105, 103, 240);
$color-primary-hover    : rgb(90, 88, 225);
$color-primary-01       : rgba(105, 103, 240, 0.1);
$color-primary-02       : rgba(105, 103, 240, 0.2);
$color-primary-03       : rgba(105, 103, 240, 0.3);
$color-primary-04       : rgba(105, 103, 240, 0.4);
$color-primary-05       : rgba(105, 103, 240, 0.5);
$color-primary-06       : rgba(105, 103, 240, 0.6);
$color-primary-07       : rgba(105, 103, 240, 0.7);
$color-primary-08       : rgba(105, 103, 240, 0.8);
$color-primary-09       : rgba(105, 103, 240, 0.9);
$color-primary-light    : rgb(0, 190, 260);

$color-secondary        : rgb(244, 208, 63);
$color-secondary-01     : rgba(244, 208, 63, 0.1);
$color-secondary-02     : rgba(244, 208, 63, 0.2);
$color-secondary-03     : rgba(244, 208, 63, 0.3);
$color-secondary-04     : rgba(244, 208, 63, 0.4);
$color-secondary-05     : rgba(244, 208, 63, 0.5);
$color-secondary-06     : rgba(244, 208, 63, 0.6);
$color-secondary-07     : rgba(244, 208, 63, 0.7);
$color-secondary-08     : rgba(244, 208, 63, 0.8);
$color-secondary-09     : rgba(244, 208, 63, 0.9);
$color-secondary-hover  : rgb(241, 196, 15);
$colorPrice: rgb(255, 90, 50);
$colorRed: #E74C3C;
$colorRed-hover: #D04637;
$color-green: rgb(38, 207, 142);

$bg-1: 			#212529;
$bg-09: 		#343a40;
$bg-08: 		#495057;
$bg-07: 		#6c757d;
$bg-06: 		#adb5bd;
$bg-05: 		#ced4da;
$bg-04: 		#dee2e6;
$bg-03: 		#e9ecef;
$bg-02: 		#EDF2F7;
$color-link: #3498DB;
$color-link-dark: #2E86C1;
$color-des : #567;
$color-text: #456;

$fontTitle: "SVN-Gilroy Bold", "mt", "Tahoma", sans-serif;
$fontText: "SVN-Gilroy", "Tahoma", sans-serif;

@mixin titlePage {
    font-size: 1.3rem;
    font-weight: bold;
    margin-bottom: 1.5rem;
}

@mixin titleBox {
    font-size: 1.025rem !important;
    color: #fff !important;
    position: relative;
    width: 100%;
    letter-spacing: 0.5px;
    font-weight: 600 !important;
    margin-bottom: 0;
}

@mixin fontAwesome {
    font-family: "Font Awesome 6 Free";
    font-weight: 900;
}

/* font */
$folderFont : '/fonts/';
@font-face{
	font-family:'mt';
	font-style:normal;
	font-weight:400;
	src:url($folderFont+"mt-regular.otf")
}
@font-face{
	font-family:'SVN-Gilroy';
	font-style:normal;
	font-weight:500;
	src:url($folderFont+"svn-gilroy_medium.ttf")
}
@font-face{
	font-family:'SVN-Gilroy Bold';
	font-style:normal;
	font-weight:700;
	src:url($folderFont+"svn-gilroy_semibold.ttf")
}

* {
    padding: 0;
    margin: 0;
}

html, body {
    background: $bg-02 !important;
    font-family: $fontText;
    font-size: 1rem;
    line-height: 1.4;
}

img {
    width: 100%;
}

textarea {
    &::-webkit-scrollbar {
        background-color: transparent;
        width: 7px;
    }
    &::-webkit-scrollbar-thumb {
        background-color: $bg-06;
        border-radius: 1000px;
        -webkit-box-shadow: inset 0 0 6px $bg-04;
    }
    &::-webkit-scrollbar-track {
        -webkit-box-shadow: inset 0 0 6px $bg-04;
        border-radius: 10px;
        background: transparent;
    }
}

.highLight_700 {
    font-weight: 700;
    color: $color-primary;
}

.highLight_500 {
    font-weight: 500;
    color: $color-primary;
}

table:not(.sendEmail) {
    tr {
        vertical-align: top;
        td, th {
            padding: 0.7rem !important;
            img {
                width: inherit;
                border-radius: 5px;
            }
            .tableHighLight {
                font-weight: 700;
            }
            div.oneLine {
                &:not(:first-child){
                    margin-top: 0.25rem;
                }
                .badge {
                    margin-top: 0.3rem;
                }
            }
            i {
                font-size: 1.2rem;
                color: $bg-06;
                width: 20px;
                margin-right: 0.25rem;
                text-align: center;
                &.active {
                    color: $color-primary;
                }
            }
        }
    }
    tr {
        th {
            background: $color-primary !important;
            color: #fff !important;
            text-transform: none !important;
            font-size: 1rem !important;
        }
    }
}

.iconAction {
    width: 40px;
    text-align: center;
    &:not(:first-child){
        margin-left: 0.2rem;
    }
    a {
        color: $color-primary;
        &:hover {
            color: $color-primary-hover;
        }
    }
}

.formBox {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    &_column2 {
        width: calc(50% - 1rem);
        &:not(:first-child){
            margin-left: 2rem;
        }
        &_item {
            &_row {
                &:not(:first-child){
                    margin-top: 1.2rem;
                }
            }
        }
    }
    &_full {
        width: 100%;
        &_item {
            &:not(:first-child){
                margin-top: 1.2rem;
            }
        }
        &:not(:first-child){
            margin-top: 1.2rem;
        }
    }
}

.inputWithNumberChacractor {
    display: flex;
    justify-content: space-between;
    &_count {
        font-weight: bold;
        font-size: 1.1rem;
        background: $color-primary-01;
        padding: 2px 5px;
        width: 60px;
        text-align: center;
        border-radius: 5px 5px 0 0;
    }
}

.imageUpload {
    margin-top: 1.5rem;
    border-radius: 5px;
    img {
        width: 100%;
        max-width: 320px;
        max-height: 196px;
        object-fit: cover;
        box-shadow: 0 0 3px $bg-06;
        border-radius: inherit;
    }
    > * {
        position: relative;
        &:not(:first-child){
            margin-top: 1.2rem;
        }
        i {
            position: absolute;
            top: 0.25rem;
            right: 0.5rem;
            font-size: 1.5rem;
            color: rgba(255,0,0,0.5);
            cursor: pointer;
            &:hover {
                color: rgba(255,0,0,0.8);
            }
        }
    }
}

.inputRequired {
    &:after {
        margin-left: 0.5rem;
        content: '*';
        color: $colorPrice;
        font-weight: bold;
    }
}
.explainInput {
    margin-right: 0.5rem;
    width: 18px;
    height: 18px;
    vertical-align: top;
}
.tooltip {
    text-align: left !important;
}

.customScrollBar-y {
    width: 100%;
    overflow-y: scroll !important;
    &::-webkit-scrollbar {
      background-color: #fff;
      width: 5px;
    }
    &::-webkit-scrollbar-thumb {
      background-color: $bg-06;
      border-radius: 1000px;
      -webkit-box-shadow: inset 0 0 6px #fff;
    }
    &::-webkit-scrollbar-track {
      -webkit-box-shadow: inset 0 0 6px #fff;
      border-radius: 10px;
      background: transparent;
    }
  }
  .customScrollBar-x {
    width: 100%;
    overflow-x: scroll !important;
    &::-webkit-scrollbar {
      background-color: #fff;
      height: 5px;
    }
    &::-webkit-scrollbar-thumb {
      background-color: $bg-06;
      border-radius: 1000px;
      -webkit-box-shadow: inset 0 0 6px #fff;
    }
    &::-webkit-scrollbar-track {
      -webkit-box-shadow: inset 0 0 6px #fff;
      border-radius: 10px;
      background: transparent;
    }
  }

/* ===== Viết đè CSS Theme ===== */
.navigation {
    font-family: $fontText !important;
}

.main-menu.menu-light .navigation > li > a i, .main-menu.menu-light .navigation > li > a svg {
    top: 0 !important;
}

.navigation {
    font-size: 1.15rem !important;
    > li {
        font-weight: 700;
        margin-top: 0.75rem !important;
        > a {
            // padding: 7px 12px !important;
            > i, > svg {
                height: 20px !important;
                width: 20px !important;
                font-size: 20px !important;
            }
        }
        ul {
            font-weight: normal;
            margin-left: 1.2rem !important;
        }
    }
    
}
.vertical-layout.vertical-menu-modern .main-menu .navigation .menu-content > li > a svg, .vertical-layout.vertical-menu-modern .main-menu .navigation .menu-content > li > a i {
    margin-right: 1rem !important;
}

html .content.app-content {
    padding: 2rem 2rem 0 !important;
}

.col-form-label, 
.col-form-label-lg, 
.col-form-label-sm {
    font-size: 1rem !important;
}

.form-label {
    font-size: 1rem !important;
    cursor: pointer;
}

.card .card-header .card-title {
    font-weight: 700;
}

.card-footer {
    > button {
        &:not(:first-child){
            margin-left: 1rem;
        }
    }
}

.select2-container .select2-selection--single {
    height: unset !important;
}

.invalid-feedback, .valid-feedback {
    font-size: 1rem !important;
}

label.error {
    display: none !important;
}

.form-label {
    margin-bottom: 0.5rem;
}

.invalid-feedback {
    margin-top: 0.5rem;
}

.actionDelete {
    cursor: pointer;
    color: $colorRed !important;
    &:hover {
        color: $colorRed-hover;
    }
}

.pageAdminWithRightSidebar {
    
    &_header {
        @include titlePage;
    }
    &_main {
        display: flex;

        &_content {
            width: 100%;
            display: flex;
            margin-right: calc(300px - 0.5rem);
            flex-wrap: wrap;
            justify-content: space-between;
            &_item {
                width: calc(50% - 0.75rem);
                &.fullWidth {
                    width: 100%;
                }
            }
        }
        &_rightSidebar {
            position: fixed;
            top: 0;
            right: 0;
            width: 300px;
            height: 100%;
            background: #fff;
            &_item {
                padding: 1.5rem;
                &:not(:first-child){
                    margin-top: 0.5rem;
                    padding-top: 1.5rem;
                    border-top: 1px dashed $bg-06;
                }
                &.buttonAction {
                    padding-bottom: 1rem;
                    justify-content: flex-end;
                    display: flex;
                    > * {
                        &:not(:first-child){
                            margin-left: 1rem;
                        }
                    }
                }
            }
        }
    }
    
}

.width100 {
    width: 100% !important;
}

.errorList {
    font-size: 1rem;
    line-height: 1.6;
    font-weight: 600;
    letter-spacing: 0.3px;
    > li {
        color: $colorRed;
    }
}

html .content {
    min-height: 100%;
}

.addItemBox {
    font-size: 1.05rem;
    position: absolute;
    top: 1.25rem;
    right: 2rem;
    background: $color-primary;
    color: #fff;
    font-weight: 700;
    padding: .5rem 1.5rem .5rem 1.25rem;
    border-radius: 100px;
    cursor: pointer;
    &:hover {
        background: $color-primary-hover;
        color: #fff;
    }
    i {
        margin-right: 0.5rem;
        font-size: 1.4rem;
        vertical-align: middle;
    }
}

.flexBox {
    display: flex;
    &:not(:first-child){
        margin-top: 1.2rem;
    }
    &_item {
        width: 100%;
        &:not(:first-child){
            margin-left: 1rem;
        }
    }
}

.card {
    &-header {
        padding: 1rem 1.5rem;
        background: $color-primary;
        > * {
            @include titleBox;
            i {
                font-size: 1.6rem;
                position: absolute;
                right: 0;
                top: 50%;
                transform: translateY(-50%);
                color: $color-secondary;
                font-weight: 900;
                cursor: pointer;
                &:hover {
                    color: $color-secondary-hover;
                }
            }
        }
    }
    &-body {
        padding: 1rem 1.5rem !important;
    }
}

.modal {
    background: rgba(0,0,0,0.4);
    &-header {
        padding: 0.75rem 1.4rem;
        background: $color-primary !important;
        h2, h3, h4 {
            @include titleBox;
        }
    }
    &-body {
        padding: 1rem 1.4rem;
    }
    &-content {
        width: auto;
    }
    &-footer {
        padding: 1rem 1.4rem !important;
        > * {
            margin: 0;
            &:not(:first-child){
                margin-left: 1.2rem;
            }
        }
    }
}

.titlePage {
    @include titlePage;
}

.btn {
    font-weight: 600 !important;
    letter-spacing: 0.5px;
    padding: 1rem 1.5rem;
}

.btnRemoveRepeater {
    margin-left: 1rem;
    flex: 0 0 37px;
    height: 37px;
    align-self: flex-end;
    text-align: center;
    background: $colorRed;
    line-height: 35px;
    font-size: 1.2rem;
    color: #fff;
    border-radius: 4px;
    cursor: pointer;
    opacity: 0.6;
    &:hover {
        opacity: 0.8;
    }
}

.table {
    tbody {
        tr {
            &:nth-child(even){
                background: $color-secondary-01;
            }
        }
    }
}

.optionListBox {
    &_item {
        background: $bg-03;
        border: 1px solid $bg-04;
        padding: 0.5rem;
        display: flex;
        justify-content: center;
        border-radius: 5px;
        cursor: pointer;
        &:not(:first-child){
            margin-top: 1rem;
        }
        > * {
            &:not(:first-child){
                margin-left: 1rem;
            }
        }
        &_radio {
            text-align: center;
        }
        &_option {
            width: 100%;
        }
        &_detail {
            width: 100%;
            span {
                font-weight: bold;
            }
        }
    }
}

.oneLine {
    &:not(:first-child){
        margin-top: 0.25rem;
    }
}

.rowBox {
    &:not(:first-child){
        margin-top: 0.5rem;
    }
    &_item {
        display: flex;
        &_column {
            width: 100%;
        }
    }
}

.invoiceBoxSidebar {
    > * {
        &:not(:first-child){
            margin-top: 0.5rem;
        }
    }
    &_title {
        font-size: 1.1rem;
        font-weight: bold;
    }
    &_content {
        &_item {
            &:not(:first-child){
                margin-top: 0.5rem;
            }
        }
    }
}

.searchBox {
    display: flex;
    margin-bottom: 1rem;
    &_item {
        width: 100%;
        max-width: 400px;
        &:not(:first-child){
            margin-left: 1rem;
        }
    }
    .btn {
        padding: 0.75rem 1.5rem;
    }
}

.actionBookingBox {
    position: fixed;
    right: 1.75rem;
    top: 50%;
    transform: translateY(-50%);
    &_item {
        background: #fff;
        padding: 0.75rem 1rem;
        font-weight: 600;
        border-radius: 5px;
        border: 1px solid $bg-05;
        cursor: pointer;
        opacity: 0.925;
        display: flex;
        color: $color-text;
        &:hover {
            opacity: 1;
            background: $bg-02;
            color: $color-text;
        }
        &:not(:first-child){
            margin-top: 0.5rem;
        }
        i {
            margin-right: 0.75rem;
        }
    }
}

.columnBox {
    display: flex;
    &_item {
        width: 100%;
    }
}

.exampleContentBox {
    border: none;
    outline: none;
    width: 100%;
    background:#f1f1f1;
    resize: none;
    overflow: hidden;
    padding: 1rem;
}
/* ===== START: Image */
.imageBox {
    display: flex;
    flex-wrap: wrap;
    &_item {
        width: calc(20% - 1.2rem);
        border-radius: 5px;
        box-shadow: 0 0 5px $bg-04;
        border: 1px solid $bg-05;
        height: max-content;
        margin-top: 1.2rem;
        margin-right: 1.2rem;
        &_image {
            background: url('/storage/images/background-of-image.jpg') no-repeat;
            background-size: 100% 100%;
            img {
                width: 100%;
                border-radius: 5px 5px 0 0;
                object-fit: contain;
                height: 200px;
            }
        }
        &_content {
            background: #fff;
            line-height: 1.6;
            border-radius: 0 0 5px 5px;
            &_text {
                padding: 0.5rem 0.75rem 0.75rem;
            }

            &_action {
                display: flex;
                background: $bg-03;
                border-radius: 0 0 5px 5px;
                > * {
                    text-align: center;
                    padding: 0.5rem;
                    width: 100%;
                    cursor: pointer;
                    &:hover {
                        background: $color-secondary;
                    }
                    &:not(:first-child){
                        border-left: 1px solid $bg-04;
                    }
                    &:first-child {
                        border-radius: 0 0 0 5px;
                    }
                    &:last-child {
                        border-radius: 0 0 5px 0;
                    }
                    &.remove {
                        &:hover {
                            background: $colorRed;
                            color: #f1f1f1;
                        }   
                    }
                    &.disable {
                        background: $bg-04;
                    }
                }
            }
        }
        
    }
}
/* ===== END: Image */
.chooseDepartureShipBox {
    border: 1px solid $bg-03;
    &_row {
        display: flex;
        &:nth-child(even){
            background: $bg-02;
        }
        &_item {
            width: 100%;
            text-align: center;
            padding: 1rem;
            &_choose {
                background: $bg-03;
                border-radius: 5px;
                border: 1px solid $bg-04;
                padding: 0.25rem;
                cursor: pointer;
                &:hover, &.active {
                    background: $color-secondary;
                }
            }
            .highLight {
                font-weight: bold;
                font-size: 1.1rem;
            }
        }
        &:not(:first-child){
            border-top: 1px solid $bg-03;
        }
    }
}
.chooseTripBox {
    margin-top: 0.5rem;
    display: flex;
    &_item {
        width: 100%;
        max-width: 100px;
        border: 1px solid $bg-04;
        padding: 0.5rem;
        text-align: center;
        border-radius: 5px;
        font-size: 0.95rem;
        font-weight: bold;
        cursor: pointer;
        &:not(:first-child){
            border-left: 1px solid $bg-04;
        }
        &:hover {
            background: $color-primary-03;
        }
        &.active {
            background: linear-gradient(90deg, $color-primary 0, $color-primary-hover 100%);
            color: #fff;
        }
    }
}

.main-menu.menu-light .navigation > li ul li > a {
    padding: 10px 15px !important;
}

.main-menu.menu-light .navigation > li ul li ul a {
    padding: 10px 15px !important;
}

.pagination {
    margin-bottom: 1rem;
    margin-top: 1rem;
    margin-left: auto;
    margin-right: auto;
}

.page-link {
    width: 30px;
}

.badgeKeyword {
    font-size: 0.95rem;
    margin-right: 0.15rem;
    margin-bottom: 0.35rem;
    padding: 0.25rem 0 0.25rem 0.75rem;
    color: #fff;
    border-radius: 3px;
    display: inline-block;
    i {
        padding: 0.25rem 0.5rem;
        margin-left: 0.25rem;
        cursor: pointer;
        vertical-align: bottom;
        margin-bottom: -0.1rem;
    }
}

.iconWithNumber {
    position: relative;
    i {
        font-size: 1.6rem !important;
    }
    &_number {
        position: absolute;
        top: -10px;
        right: 0;
        background: $color-green;
        width: 25px;
        height: 25px;
        line-height: 25px;
        border-radius: 50%;
        text-align: center;
        font-size: 0.9rem;
        font-weight: bold;
        color: #fff;
    }
}

.toastBox {
    position: fixed;
    top: 1.5rem;
    right: 1rem;
    background: #fff;
    border-radius: 5px;
    box-shadow: 0 0 5px $bg-04;
    padding: 1rem;
    width: 300px;
    z-index: 100;
    &_title {
        font-size: 1.2rem;
        font-weight: bold;
        margin-bottom: 0.5rem;
    }
    &.success {
        .toastBox_title {
            color: $color-green;
            &:before {
                @include fontAwesome;
                content: '\f00c';
                margin-right: 0.5rem;
            }
        }
    }
    &.error {
        .toastBox_title {
            color: $colorRed;
            &:before {
                @include fontAwesome;
                content: '\f00d';
                margin-right: 0.5rem;
            }
        }
    }
}
.swal-lg {
    width: 800px !important;
}
.formCostMoreLess {
    &_item {
        display: flex;
        &:not(:first-child){
            margin-top: 1.2rem;
        }
    }
}
.highLight {
    font-size: 1.2rem;
    color: $color-primary-hover;
    font-weight: bold;
}

// @media print {
//     *,
//     *:before,
//     *:after {
//         background: $bg-02 !important;
//         color: #000 !important; // Black prints faster: h5bp.com/s
//         box-shadow: none !important;
//         text-shadow: none !important;
//     }
// }
.uploadImageBox {
    &_box {
        display: flex;
        flex-wrap: wrap;
        &_item {
            width: 25%;
            border: 1px dashed $bg-05;
            position: relative;
            background: $bg-03;
            &:not(:last-child){
                border-right: 0;
            }
            &:nth-child(4n + 0){
                border-right: 1px dashed $bg-05 !important;
            }
            &_icon {
                position: absolute;
                top: 0.25rem;
                right: 0.5rem;
                font-size: 1.5rem;
                color: rgba(255, 0, 0, 0.5);
                cursor: pointer;
                &:hover {
                    color: rgba(255, 0, 0, 0.7);
                }
                &:before {
                    content: "\f057";
                    @include fontAwesome;
                }
            }
        }
    }
}
.priceProductBox {
    &_item {
        display: flex;
        align-items: stretch;
        &:not(:first-child){
            margin-top: 0.5rem;
            padding-top: 0.5rem;
            border-top: 1px dashed $bg-06;
        }
        &_image {
            flex: 0 0 80px;
            position: relative;
            img {
                width: 100% !important;
            }
            &_count {
                position: absolute;
                top: 0;
                right: 0;
                width: 25px;
                aspect-ratio: 1/1;
                display: flex;
                align-items: center;
                justify-content: center;
                border-radius: 50%;
                background: rgba(0,0,0,0.5);
                color: #fff;
                font-size: 0.8rem;
            }
        }
        &_content {
            margin-left: 0.75rem;
        }
    }
}
.saleOff {
    margin-right: 0.5rem;
    background: $colorRed;
    padding: 0.2rem 0.25rem;
    font-size: .8rem;
    color: #fff;
    border-radius: 5px;
    height: 20px;
    line-height: 20px;
}